*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 12px;
  font-family: 'Co Headline', sans-serif;
}

$beige: #d2b17e;
$violet: #533185;
$dark-violet: #322a39;
$red: #b92904;
$dark-red: #762323;

.menu{
  display: none;
  background-color: $dark-violet;
  padding: 20px;
  &.open{
    display: block;
  }
  nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    a{
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      margin: 0 1rem;
      &:hover{
        color: $beige;
      }
    }
  }
}

main {
  background-color: white;
  padding: 2rem;
  color: $dark-violet;
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $violet;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $red;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    button, a {
      text-decoration: none;
      display: block;
      padding: 1rem 2rem;
      border: none;
      background-color: $violet;
      color: white;
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      cursor: pointer;

      &:hover {
        background-color: $dark-violet;
      }
    }
  }

}

body.inscription{
  h1{
    text-align: center;
    margin: 2rem;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    input{
      padding: 1rem;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      background-color: #eaeaea;
      &:focus{
        outline: none;
      }
    }
    input[type="checkbox"]{
      display: inline;
        width: 20px;
        height: 20px;
        margin: 0 1rem;
    }
    label{
      font-size: 1.1rem;
      font-weight: bold;
      &[for="newsletter"]{
        display: inline;
        width: fit-content;
      }
    }
    button{
      background-color: $violet;
      color: white;
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover{
        background-color: $dark-violet;
      }
    }
  }
}




.book-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  gap: 20px;
  .ebook {
    background-color: var(--beige);
    color: var(--dark-violet);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 200px;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

}

.citation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 600px){
    flex-direction: column;
    gap: 10px;
  }
  p{
    font-size: 1rem;
    font-style: italic;
    margin: 2rem;
    text-align: justify;
  }
  img{
    display: block;
    width: 200px;
    aspect-ratio: 1/1;
  }
}

h3{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


body{
  background-size: cover;
  background: url("./assets/background.jpg") no-repeat center;

  header{
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    .menu-burger{
      display: none;
      .line{
        width: 30px;
        height: 3px;
        background-color: $dark-violet;
        margin: 5px;
      }
    }
    div{
      display: flex;
      align-items: center;
      h1{
        font-size: 2rem;
        span.violet{
          color: $dark-violet;
        }
        span.red{
          color: $dark-red;
        }
      }
      img{
        width: 60px;
        height: 60px;
        margin: 0 1rem;
      }
    }
    nav{
      display: flex;
      align-items: center;

      a{
        text-decoration: none;
        color: $red;
        font-size: 1.5rem;
        margin: 0 1rem;
        &:hover{
          color: $violet;
        }
      }
    }
    @media screen and (max-width: 600px){
      div.menu-burger{
        display: block;
      }
      nav{
        display: none;
      }
    }
  }
}


div.popup{
  &.active{
    display: block;
  }
  display: none;
  position: fixed;
  width: 40vw;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  background-color: white;
    padding: 3rem;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  button{
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
  }
}