* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 12px;
  font-family: "Co Headline", sans-serif;
}

.menu {
  display: none;
  background-color: #322a39;
  padding: 20px;
}
.menu.open {
  display: block;
}
.menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.menu nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 0 1rem;
}
.menu nav a:hover {
  color: #d2b17e;
}

main {
  background-color: white;
  padding: 2rem;
  color: #322a39;
  max-width: 1000px;
  margin: 0 auto;
}
main h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #533185;
}
main h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #b92904;
}
main p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
main .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .buttons button, main .buttons a {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  border: none;
  background-color: #533185;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
main .buttons button:hover, main .buttons a:hover {
  background-color: #322a39;
}

body.inscription h1 {
  text-align: center;
  margin: 2rem;
}
body.inscription form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}
body.inscription form input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #eaeaea;
}
body.inscription form input:focus {
  outline: none;
}
body.inscription form input[type=checkbox] {
  display: inline;
  width: 20px;
  height: 20px;
  margin: 0 1rem;
}
body.inscription form label {
  font-size: 1.1rem;
  font-weight: bold;
}
body.inscription form label[for=newsletter] {
  display: inline;
  width: fit-content;
}
body.inscription form button {
  background-color: #533185;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body.inscription form button:hover {
  background-color: #322a39;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  gap: 20px;
}
.book-container .ebook {
  background-color: var(--beige);
  color: var(--dark-violet);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 200px;
}
.book-container .ebook h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.book-container .ebook p {
  font-size: 1rem;
  line-height: 1.5;
}

.citation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .citation {
    flex-direction: column;
    gap: 10px;
  }
}
.citation p {
  font-size: 1rem;
  font-style: italic;
  margin: 2rem;
  text-align: justify;
}
.citation img {
  display: block;
  width: 200px;
  aspect-ratio: 1/1;
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

body {
  background-size: cover;
  background: url("./assets/background.jpg") no-repeat center;
}
body header {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
body header .menu-burger {
  display: none;
}
body header .menu-burger .line {
  width: 30px;
  height: 3px;
  background-color: #322a39;
  margin: 5px;
}
body header div {
  display: flex;
  align-items: center;
}
body header div h1 {
  font-size: 2rem;
}
body header div h1 span.violet {
  color: #322a39;
}
body header div h1 span.red {
  color: #762323;
}
body header div img {
  width: 60px;
  height: 60px;
  margin: 0 1rem;
}
body header nav {
  display: flex;
  align-items: center;
}
body header nav a {
  text-decoration: none;
  color: #b92904;
  font-size: 1.5rem;
  margin: 0 1rem;
}
body header nav a:hover {
  color: #533185;
}
@media screen and (max-width: 600px) {
  body header div.menu-burger {
    display: block;
  }
  body header nav {
    display: none;
  }
}

div.popup {
  display: none;
  position: fixed;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
div.popup.active {
  display: block;
}
div.popup button {
  width: fit-content;
  padding: 1rem;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
